.choosefile{
    -fx-font-family: "Bodoni MT Black" ;
    -fx-font-size: 10;
    -fx-background-radius: 30;
    -fx-background-color: #60deaa;
    -fx-effect: dropshadow(two-pass-box, gray, 12, -10, -10,10);
}
.shapes{
    -fx-font-family: "Bodoni MT Black";
    -fx-font-size: 12;
    -fx-background-radius: 30;
    -fx-background-color: #ffa500;
    -fx-effect: dropshadow(two-pass-box, grey, 12, -10, -10, 10);
}
.save {
    -fx-font-family: "Bodoni MT Black";
    -fx-font-size: 12;
    -fx-background-radius: 30;
    -fx-background-color: #28e528;
    -fx-effect: dropshadow(two-pass-box, grey, 12, -10, -10, 10);
}
.about{
    -fx-font-family: "Bodoni MT Black";
    -fx-font-size: 13;
}

.drawnshapes {
    -fx-font-family: "Bodoni MT Black";
    -fx-font-size: 12;
    -fx-background-radius: 30;
    -fx-background-color: #f5a157;
    -fx-effect: dropshadow(two-pass-box, grey, 12, -10, -10, 10);
}

.remove {
    -fx-font-family: "Bodoni MT Black";
    -fx-font-size: 12;
    -fx-background-radius: 30;
    -fx-background-color: #ff3434;
    -fx-effect: dropshadow(two-pass-box, grey, 12, -10, -10, 10);
}